/* Globals */
:root {
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-serif: Georgia, serif;
  --color-secondary: #333;
  --color-link: #635ac7;
  --color-link-hover: blueviolet;

  font-family: var(--font-sans);
  font-weight: normal;
  line-height: 1.5;
}

body {
  margin: 0;
}

a {
  color: var(--color-link);
}
a:hover {
  cursor:pointer;
  color: var(--color-link-hover);
}
.disabled {
	opacity:0.5;
}
.disabled:hover {
	cursor: not-allowed;
}
/* Snippets */
.site-header {
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
}

.site-header__quote {
  color: var(--color);
  font-family: var(--font-serif);
  margin-left: auto;
  margin-right: auto;
  max-width: 460px;
}

.site-footer {
  color: var(--color);
  font-family: var(--font-serif);
  text-align: center;
}
.container {
  display:flex;
  margin:2.0em auto;
  width:80%;
}

/* Dog image gallery slideshow */
.dog-image-counter {
	text-align: center;
}
.dog-gallery{
  display:flex;
  flex-wrap:wrap;
}
.dog-image {
  width:100%;
  margin:1.0em;
	border-radius:10px;
}
.dog-gallery-navigation {
	margin: 0 auto;
}
.dog-gallery-navigation a.previous-dog-image {
  float:left;
}
.dog-gallery-navigation a.next-dog-image{
 float:right;
 margin-left:2.0em;
}
.dog-gallery-navigation a i{
  display:block;
  font-size:170%;
}

/* Dog image thumbnail gallery */
.dog-gallery-thumb {
	width:50%;
	margin-left:1.0em;
}
.dog-gallery-thumb img {
	border-radius:5px;
}